<div class="cover mb-4 d-flex align-items-center justify-content-center" style="background-image: url(<%= cl_image_path('development/p7uefpuupqd1vgkuaq7t_mpoqqe.jpg') %>)">
  <div class="text-center text-white">
    <h3 class="typed-js" data-controller="typed-js"><strong>All listings will be shown here</strong></h3>
  </div>
</div>
