<h3>All my listings will be shown here</h3>

<%= cl_image_tag("p7uefpuupqd1vgkuaq7t.jpg",
      width: 400, height: 300, crop: :fill) %>

<div class="cover mb-4 d-flex align-items-center justify-content-center" style="background-image: url(<%= asset_path('landscape.jpg') %>)">
  <div class="text-center">
    <h3 class="typed-js" data-controller="typed-js"><strong>All listings will be shown here</strong></h3>
  </div>
</div>
