<div class="cover mb-4 d-flex align-items-center justify-content-center" style="background-image: url(<%= asset_path('landscape.jpg') %>)">
  <div class="text-center">
    <h3 class="typed-js" data-controller="typed-js"><strong>All listings will be shown here</strong></h3>
  </div>
</div>
