<div class="cover mb-4 d-flex align-items-center justify-content-center" style="background-image: url(<%= asset_path('cover_pic.png') %>)">
  <div class="text-center">
    <h3 class="typed-js" data-controller="typed-js"><strong>Homepage</strong></h3>
  </div>
</div>
