<div class="cover mb-4 d-flex align-items-center justify-content-center" style="background-image: url(<%= cl_image_path("development/cover_pic_nhkd3b.png") %>)">
  <div class="text-center">
    <h3 class="typed-js" data-controller="typed-js"><strong>Homepage</strong></h3>
  </div>
</div>
