<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="bg-white rounded p-3 shadow">
        <h1>Make an offer</h1>
            <%= simple_form_for [@listing, @offer] do |f| %>
            <%= f.input :offer_price, placeholder: "Listed Price: #{@listing.price}" %>
            <%= f.submit class: "btn btn-success" %>
            <% end %>
      </div>
    </div>
  </div>
</div>
