// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "buttons";
@import "cards";
@import "cover";
@import "form_legend_clear";
@import "navbar";
@import "listing";
@import "icon";
@import "offer";
@import "status";

button a {
  color: #282626;
  text-decoration: none;
  background: #ff2636;
}

button a:hover {
  text-decoration: none;
  background-color: #ff2634a9;
  color: #ffffff;
}


// li a {
//   color: white !important;
//   text-decoration: none !important;
// }
